.center
{
    margin: auto;
}
.centerBtn
{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.underline
{
    border-bottom: solid 1px #30363d;
}
.subtitle
{
    font-size: x-large;
}
.quoting
{
    padding: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-left: solid 5px #30363d;
}
.quoteText
{
    margin-left: 5px;
    color: #30363d;
}
.links
{
    margin: auto;
}